<div>
    <h1>Bienvenido al Proyecto</h1>
    <!-- <ul *ngFor="let usuario of usuarios">
        <li>{{usuario.correo}}</li>
        <li>{{usuario.nombre}}</li>
        <li>{{usuario.apellido}}</li>
        <li>{{usuario.password}}</li>
        <li>{{usuario.telefono}}</li>
    </ul> -->
    <br>
    <h3>{{usuario.nombre + " " + usuario.apellido}}</h3>

</div>
<!-- <button class="mycomponente()">Mostarar Componente en Inicio</button> -->
<!-- <app-anuncio *ngIf="mostrarComponente"></app-anuncio> -->

<br>
<button type="submit" class="btn btn-outline-success">
    <a href="/miperfil">MI PERFIL</a>
</button>
<br>
<br>
<button type="submit" class="btn btn-outline-success">
    <a href="/anuncio">ANUNCIOS</a>
</button>
<br>
<br>
<button type="submit" class="btn btn-outline-success">
    <a href="/crearusuario">CREAR USUARIOS</a>
</button>
<br>
<br>
<button type="submit" class="btn btn-outline-success">
    <a href="/lugares">LUGARES</a>
</button>
<br>
<br>
<button type="submit" class="btn btn-outline-success">
    <a href="/viajes">VIAJES</a>
</button>

<!--app-crearusuario></!--app-crearusuario>
<app-lugares></app-lugares>
<app-viajes></app-viajes> -->


<!-- ---------------------------- Cerrar Sesion ---------------------------- -->
<div class="row">
    <div class ="col-md-12">
        <!-- <label class="float-left"> -->
            <!-- <a href="#" (click)="CerrarSesion()">CerrarSesion</a>  -->
        <!-- </label>  -->
            <input href="#" (click)="CerrarSesion()" type="submit" class="btn btn-outline-success float-end" value="CerrarSesion">
    </div>
</div>