<H1>Reservaciones</H1>
<hr>

<!-- ---------------------------- Ver Reservas ---------------------------- -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">cantidad_pasajeros</th>
            <th scope="col">observaciones</th>
            <th scope="col">correo</th>
            <th scope="col">IdEstado</th>
            <th scope="col">IdViaje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reserva of reservas">
            <th scope="row">{{reserva.idreservacion}}</th>
            <td>{{reserva.cantidadPasajeros}}</td>
            <td>{{reserva.observaciones}}</td>
            <td>{{reserva.correo}}</td>
            <td>{{reserva.idestado | valor : valor}}</td>
            <td>{{reserva.idviaje}}</td>
        </tr>

    </tbody>
</table>



<button type="submit" class="btn btn-outline-success float-end">
    <a href="/bienvenida">Regresar</a>
</button>