<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Proyecto de Angular Progra 2</h1>

   
    <form (ngSubmit)="login()" id="loginForm">
        <label class="form-label">Email: *</label>
        <input type="text" class="form-control tamano"
        [(ngModel)]="usuario.correo" 
        [ngModelOptions]="{standalone:true}"
        placeholder="Correo"
        required>
        <br>
        <br>
        <label class="form-label">Password: *</label>
        <input type="password" class="form-control" style="width: 100%;"
        [(ngModel)]="usuario.password"  
        [ngModelOptions]="{standalone:true}"
        placeholder="Password"
        required>
        <br>
        <br>
        <input type="submit" class="btn btn-outline-primary float-end" value="Ingresar">
    </form>
</body>

</html>